<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Username Surname</h2>
      <h4>username.surname@domain.com</h4>
    </div>
    <img
      src="https://cdn.pixabay.com/photo/2016/02/16/14/09/dog-1203351_960_720.jpg"
      alt="Shiba dog"
    />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
  <mat-divider></mat-divider>

  another menu
</mat-nav-list>
