<div>
  <app-widget-area [data]="bigChart"></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <app-widget-card label="New Users" total="12k" percentage="50" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card label="Users retention" total="10k" percentage="40" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card label="Users engagement" total="8k" percentage="30" [data]="cards"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-card label="Referral" total="6k" percentage="20" [data]="cards"></app-widget-card>
  </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="60">
    <app-widget-table [data]="table"></app-widget-table>
  </div>
  <div fxFlex="40">
    <app-widget-pie [data]="pie"></app-widget-pie>
  </div>
</div>

<mat-card>
  <app-threejscanvas (init)="initialize3DCanvas($event)" (update)="update3DCanvas($event)" style="width:100%; height: 100%;"></app-threejscanvas>
</mat-card>
